@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-body : #b8a9a9;
    --color-heading: #34362f;
    --color-base: #313131;
    --color-base2: #052c31;
    --color-brand: #c33838;
    --color-brand2: #2e2e2e;
    --color-base3: #aeadad;
    --color-grey:#2e2e2e;
    --sidbar-width: 315px;
    --font-base: "Bai JamJuree";
    --color-1:#de1919;
    --color-2:#d83e3e;
    --color-3:#be5c5c;
    --color-4:#b67878; ;
}

@keyframes background-pan{
    from{
        background-position: 0% center;
    }
    to{
        background-position: 200% center ; 
    }
}

@keyframes scale{
    from, to{
        transform: scale(0);
    }
    50%{
        transform: scale(1) ; 
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg) ; 
    }
}

body{
    background-color: rgb(225, 223, 223);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
    position: relative;
}
p{
    color:var(--color-base3);
}
h1, h2, h3, h5, h6{
    color: var(--color-base);
    font-weight:700;
}

h4,h5{
    color: var(--color-brand);
    font-weight:700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand)
}
.lead{
    color: var(--color-grey);
}
img {
    width: 100%;
}
.text-brand {
    color: var(--color-brand);
}

.bg-base{
    background-color: var(--color-base);
    border-radius: 25px;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);

}
.shadow-effect{
    transition: all 0.5s;
    box-shadow: -6px 6px 0 0 var(--color-base3);
}



.shadow-effect2{
    transition: all 0.5s;
    box-shadow: 0px 0px 0 6px #aeadad;
}


 



.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
    border-radius: 20px;
}
/*Navbar*/
.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color:var(--color-base3) !important;
}

.navbar .nav-link:hover 
{
    color: var(--color-brand) !important;
}
/*
.navbar .nav-link.active{

text-underline-offset: 0.5rem;
color: var(--color-brand) !important;
}*/

@media (min-width: 992px) 
{
    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgb(209, 209, 209),rgba(240, 237, 237, 0.849)), url(../images/binary.jpg);
        background-size: cover;
        background-position: center;
        color: var(--color-grey);
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand2);
    }
    
    .navbar .nav-link{
        font-weight: 700;
        text-transform: uppercase;
        color:var(--color-base) !important;
    }
/*Navbar End*/

/*Content Wrapper*/

#content-wrapper{
    padding-left: var(--sidbar-width);
}
}
 
/*Button*/
.btn{
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
}

.btn-brand:hover,.btn-brand:focus
{
    background-color: var(--color-brand) !important;
    color: var(--color-base) !important;
    border-color: var(--color-brand2) !important;
    
}

.link-custom{
    font-weight: 700;
    position: relative;
    color: var(--color-grey);

}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;


}

.link-custom:hover::after{
width: 100%;
}

#projectImg{
    border-radius: 3rem;

}

#projectTech{
    width: 13%;
padding-bottom: 30px;
padding-top: 50px;

}

.card-custom .card-custom-image{
    overflow: hidden;
    
}
.card-custom .card-custom-image img{
    transition:  all 0.5s ease;;
}

/*
.card-custom:hover .card-custom-image img
{
    padding: 50px;
    transform: scale(1.0);
 
}
*/
#card1{
border-radius: 3rem;
}


/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}


/* SOCIAL ICONS */


.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

.social-icons2 a {
    width: 36px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 45px;
}

#resumeBtn{
    padding-left: 20px;
    padding-top: 70px;
} 
.repo{
    font-weight: 800;
}

.repo1{
    font-weight: 800;
    color: var(--color-brand2);
}


.image-container {
    display: flex;
    flex-wrap: wrap;
  }

  .image-container .image-card {
    position: relative;
    margin: 5px;
    overflow: hidden;
    flex: 0 0 calc(50% - 10px); /* Two images per row with a little gap */
  }

  .image-container .image-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
/*
  .image-container .image-card:hover img {
    transform: rotate(-5deg) scale(1.1);
  }

  /* Optional: Add a box shadow or other styling to the card for a more pronounced effect */
  .image-container .image-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
 



.social-icons3 a {
    width: 36px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
color:var(--color-brand);
    border-radius: 100px;
    font-size: 45px;
}

#eduTxt{
    color:wheat;
}
